body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 90vh; /* Full viewport height */
}

.container1{
    height: 230px;
    width: 450px;
    font-family: cursive;
    padding: 18px 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

h2{
    font-size: xxx-large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.checkout-time {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}